body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(157,45,253,1) 100%);
  text-align: center;
}

h1 {
  font-size: 3em;
}


.flashy {
  border: 5px solid black;
}

.best {
  font-weight: bold;
}

p {
  width: 40%;
  margin: 50px auto;
}

img#choco {
  margin: 50px auto 5px; auto;
}

img#variety {
  width: 500px;
}
